body, html, button{
    font-family: Comfortaa;
}
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
a {
    text-decoration: none;
    color:#232323
}
a:hover{color: #232323}
input[type=checkbox]{
    cursor: pointer;
}
.btn{
    font-weight: bolder;
}
.btn-dark{
    background-color: #232323 !important;
}
.btn-outline-dark{
    border-color: #232323 !important;
    box-shadow: none !important;
}
.btn-outline-dark:hover{
    background-color: #232323 !important;
}
.btn:focus,.btn:active {
    outline: none !important;
    box-shadow: none;
}
.buttonDark, .buttonLight:enabled:hover{
    background-color: #232323;
    border-radius: 5px;
    border: 1px solid #232323;
    color: white;
    font-weight: bolder;
    padding-block: 5px;
    padding-inline: 10px;
    min-width: 100px;
    margin:5px;
    cursor: pointer;
}
.buttonLight, .buttonDark:enabled:hover{
    background-color: white;
    border-radius: 5px;
    border: 1px solid #232323;
    color: #232323;
    font-weight: bolder;
    padding-block: 5px;
    padding-inline: 10px;
    min-width: 100px;
    margin:5px;
    cursor: pointer;
}
.buttonLight:disabled, .buttonDark:disabled{
    opacity: 0.5;
    cursor: default;
}
.dropdown-menu{
    transition: all 0.2s;
}
.form-check-input:checked{
    background-color: #232323;
    border-color: #232323;
}
.form-check-input:focus,.form-check-input:active{
    outline: none !important;
    box-shadow: none;
    border-color: #232323;
}
.accordion-button:focus, .accordion-button:active,.accordion-button:not(.collapsed){
    outline: none !important;
    box-shadow: none;
    background-color: transparent;
    color: black;
}
.accordion-button:not(.collapsed)::after{
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='black'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e")
}

html {
    --scrollbarBG: #dcdcdc;
    --thumbBG: #555555;
}
*::-webkit-scrollbar {
    width: 10px;
}
* {
    scrollbar-width: thin;
    scrollbar-color: var(--thumbBG) var(--scrollbarBG);
}
*::-webkit-scrollbar-track {
    background: var(--scrollbarBG);
    border-radius: 10px;
}
*::-webkit-scrollbar-thumb {
    background-color: var(--thumbBG) ;
    border-radius: 6px;
    border: 3px solid var(--scrollbarBG);
}

/* MODAL BOXES STYLES */
.modalContainer {
    min-width: 800px;
    min-height: 750px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    position: fixed;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 1000;
    overflow-y: scroll;
}
.modalWindow{
    position: relative;
    background-color: white;
    width: 800px;
    border-radius: 15px;
}
.modalHeader {
    display: flex;
    font-size: large;
    justify-content: space-between;
    padding: 10px 10px 0 10px;
    width: 100%
}
.modalBody {
    width: 100%;
    padding-inline: 15px
}
.modalFooter{
    display: flex;
    justify-content: space-between;
    padding: 10px;
    width: 100%;
    position: relative;
    bottom: 0;
}
.popup-anim-enter-active,
.popup-anim-leave-active {
    transition: all 0.25s ease-out;
}

.popup-anim-enter-from,
.popup-anim-leave-to {
    opacity: 0;
}

.mapNameInput{
    outline: none;
    display: table-cell;
    width: 100%;
    font-size: 20px;
    border-radius: 10px;
    margin-block: 10px;
    padding-inline: 10px;
    padding-block: 5px;
    border: 2px solid #dcdcdc;
}
