@use "../Variables"
input[type='text'], input[type='email'],
input[type='password'], textarea
  border: 1px solid Variables.$dark-color
  color: Variables.$dark-color
  outline: none

textarea
  resize: none

.input-small
  font-size: 12pt
  border-radius: 10px
  padding: 5px

.input-medium
  font-size: 14pt
  border-radius: 15px
  padding: 10px
